<div class="owm_sidebar_msg_block owm_notification_block">
    <div class="owm_sidebar_msg_block_cap"><h3>{text key='notifications+console_item_label'}</h3></div>
    <div class="owm_sidebar_msg_block_cont">
        <ul class="owm_sidebar_msg_list" id="notifications-list">
            {$itemsCmp}
        </ul>
        {if $loadMore}
        <ul class="owm_sidebar_msg_list">
            <li class="owm_sidebar_msg_item owm_sidebar_msg_load_more">
                <a href="javascript://" id="notifications-load-more" class="owm_sidebar_load_more"></a>
            </li>
        </ul>
        {/if}
    </div>
</div>